body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

.control-button {
  color: rgb(223, 222, 222);
  background-color: rgb(37, 78, 223);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  margin: 8;
  padding: 10;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
}

.control-button:hover {
    opacity: 1;
}

.control-button-container {
  height: 33%;
}

p {
  color: rgb(193, 193, 193);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  margin: 4;
}

.container {
  display: flex;
}

.outer-container {
  flex-direction: row;
  flex-grow: 2;
  flex-wrap: nowrap;
}

.p5-container {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(48, 47, 57);
}

.sliders-container {
  padding-top: 10px;
  width: 100%;
  background-color: rgb(24, 30, 33);
  flex-direction: column;
  flex-grow: 6;
  flex-wrap: nowrap;
  height: 100%;
}

/* For slider implementation */

.slidecontainer {
    width: 100%;
    padding-top: 10;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #424861;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2c72e8;
    cursor: pointer;
    border-radius: 2px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 2px;
}
